##### Imports

In [40]:
import sqlite3
import pandas as pd
from faker import Faker
import random

##### Create tables

In [ ]:
conn = sqlite3.connect("test.db")
cursor = conn.cursor()

cursor.execute(
  """
    CREATE TABLE IF NOT EXISTS personne (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      nom TEXT,
      prenom TEXT,
      mail TEXT
    )
  """
)

conn.commit()

##### Add rows

In [16]:
persons = [
  ("Bastien", "Johnson", "bastien@gmail.com"),
  ("Paolo", "Henry", "paolo@gmail.com"),
  ("Zaïd", "Kim", "zaid@gmail.com"),
  ("Julien", "Julien", "julien@gmail.com"),
]

cursor.executemany("INSERT INTO personne(nom, prenom, mail) VALUES (?, ?, ?)", persons)
conn.commit()

##### Queries

In [ ]:
query = "SELECT * FROM personne;"
df = pd.read_sql(query, conn)

df.head(3)

   id      nom   prenom               mail
0   1  Bastien  Johnson  bastien@gmail.com
1   2    Paolo    Henry    paolo@gmail.com
2   3     Zaïd      Kim     zaid@gmail.com

##### Delete by Id

In [27]:
# delete by id
query = "DELETE FROM personne WHERE id > 4;"
cursor.execute(query)
conn.commit()

##### Delete table

In [46]:
cursor.execute(f"DROP TABLE IF EXISTS table2;")
conn.commit()

##### Add column

In [30]:
cursor.execute("ALTER TABLE personne ADD COLUMN value REAL;")
conn.commit()

##### Fill column by id

In [38]:
values = [
  (0.3,1),
  (0.415,2),
  (25.12,3),
  (2.3,4)
]
cursor.executemany("UPDATE personne SET value = ? WHERE id = ?;", values)

conn.commit()

##### Fill with random values

In [45]:
fake = Faker()
data = []
for _ in range(100):
  nom = fake.last_name()
  prenom = fake.first_name()
  mail = fake.email()
  age = random.randint(18, 25)           # random age between 18 and 80
  value = round(random.uniform(0, 5), 2)  # random float between 10 and 1000
  data.append((nom, prenom, mail, age, value))

# Insert rows into the table
cursor.executemany(
  "INSERT INTO personne (nom, prenom, mail, age, value) VALUES (?, ?, ?, ?, ?);",
  data
)

conn.commit()